<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>KingsApp Launch Agent</string>
	<key>Program</key>
	<string>/Applications/kingsapp.app/Contents/MacOS/kingsapp</string>
	<key>KeepAlive</key>
	<dict>
		<key>Crashed</key>
		<false/>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
</dict>
</plist>
